---
import type { GetStaticPaths } from 'astro'
import Base from '@/layouts/Base.astro'

import { TALKS_DATA } from '@/lib/speakers'

export const getStaticPaths = (() => {
    return TALKS_DATA.flatMap(talk =>
        talk.speakers.map(speaker => ({
            params: {
                name: speaker.id,
            },
            props: {
                speaker,
                talk,
            },
        })),
    )
}) satisfies GetStaticPaths

const { speaker, talk } = Astro.props
---

<Base>
    <section class="wide">
        <h1>{speaker.FirstName} {speaker.LastName}</h1>

        <div class="text">
            {speaker.bio.split('\n').map((line, index) => <p>{line}</p>)}
        </div>

        <h2>Talk</h2>

        <div class="text">
            {talk.description.split('\n').map((line, index) => <p>{line}</p>)}
        </div>
    </section>
</Base>
