---
import devfestLogoSvg from '@/assets/devfest-logo.svg'
import '@/styles/navbar.css'
import { Icon } from 'astro-icon/components'
---

<script>
    document.body.classList.toggle('not-on-top', window.scrollY > 0)
    window.addEventListener('scroll', () => {
        document.body.classList.toggle('not-on-top', window.scrollY > 0)
    })
</script>
<header>
    <input id="mobile-nav-trigger" type="checkbox" class="hide" autocomplete="off" />
    <nav>
        <div class="nav-item">
            <a href="/">
                <img src={devfestLogoSvg.src} alt="Logo of DevFest Pisa 2026" />
                DevFest Pisa 2026
            </a>
        </div>
        <div class="spacer"></div>
        <!-- <div class="nav-item desktop-only">
            <a href="/speakers">Speakers</a>
        </div> -->
        <!-- <div class="nav-item desktop-only">
            <a href="/schedule">Schedule</a>
        </div> -->
        <!-- <div class="nav-item desktop-only">
            <a href="/news">News</a>
        </div> -->
        <!-- <div class="nav-item desktop-only">
            <a href="/iwd">IWD</a>
        </div> -->
        <div class="nav-item desktop-only">
            <a href="/location">Location</a>
        </div>
        <div class="nav-item desktop-only">
            <a href="/team">Team</a>
        </div>
        <div class="nav-item mobile-only">
            <label for="mobile-nav-trigger">
                <Icon name="material-symbols:menu" />
            </label>
        </div>
    </nav>
    <div id="mobile-nav" class="mobile-only">
        <div class="nav-item">
            <a href="/">
                <img src={devfestLogoSvg.src} alt="Logo of DevFest Pisa 2026" />
                DevFest Pisa 2026
            </a>

            <label for="mobile-nav-trigger">
                <Icon name="material-symbols:close" />
            </label>
        </div>
        <div class="divider"></div>
        <div class="nav-item">
            <a href="/speakers">Speakers</a>
        </div>
        <div class="nav-item">
            <a href="/schedule">Schedule</a>
        </div>
        <div class="nav-item">
            <a href="/news">News</a>
        </div>
        <div class="nav-item">
            <a href="/iwd">IWD</a>
        </div>
        <div class="nav-item">
            <a href="/location">Location</a>
        </div>
        <div class="nav-item">
            <a href="/team">Team</a>
        </div>
    </div>
</header>
