@layer base, components, pages, utilities;

@import url(./typography.css);

@layer base {
    *,
    *::before,
    *::after {
        cursor: auto;
        color: inherit;
        font: inherit;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    :root {
        --core-yellow: #ffbb00;
        --halftone-yellow: #ffd427;
        --pastel-yellow: #ffe7a5;

        --core-cyan: #00f43a;
        --halftone-cyan: #6aff8d;
        --pastel-cyan: #a5ffba;

        --red-500: #ea4335;
    }

    html,
    body {
        min-height: 100%;
    }

    img {
        display: block;
    }

    body {
        font-family: 'Product Sans', sans-serif;
        font-size: 1.125rem;
        line-height: 1.5;
        color: #333;
        background: #fff;
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }
}

/* Components */

@layer components {
    button,
    a[role='button'] {
        --internal-button-bg: var(--button-bg, #fff);
        --internal-size: var(--size, 2rem);

        display: grid;
        place-content: center;

        font-family: 'Product Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.25;
        color: #333;
        background-color: var(--internal-button-bg);
        border: 2px solid #333;

        padding: 0.35rem calc(var(--internal-size) / 2);
        min-height: var(--internal-size);
        border-radius: calc(var(--internal-size) / 2);

        cursor: pointer;

        &:hover {
            background-color: oklch(from var(--internal-button-bg) calc(l - 0.075) c h);

            transform: translateY(-6px);
            box-shadow: 0 6px 0 0 #333;
        }

        &:active {
            transform: translateY(-2px);
            box-shadow: 0 2px 0 0 #333;
        }

        &.large {
            --size: 3rem;
            font-size: 1.25rem;
        }

        &.primary {
            --button-bg: var(--button-primary-bg, var(--core-yellow));
        }
    }

    header {
        nav {
            height: 4rem;

            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 1rem;
            padding: 1rem;

            background: #fff;
            border-bottom: 2px solid #333;

            .nav-item {
                &:first-child {
                    font-size: 1.5rem;
                    color: #333;
                }

                > a {
                    cursor: pointer;
                    display: grid;
                    place-content: center;
                    place-items: center;
                    gap: 0.5rem;

                    grid-auto-flow: column;

                    padding: 0 1rem;
                    min-height: 2rem;
                    border-radius: 1rem;

                    img {
                        height: 2rem;
                    }
                }

                &:not(:first-child) > a:hover {
                    background: #0001;
                }

                @media (width < 768px) {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }

            .spacer {
                flex: 1;
            }
        }
    }

    footer {
        min-height: 4rem;

        display: grid;
        place-content: center;

        background: #333;
        color: #fff;
        border-top: 2px solid #333;
    }

    section {
        display: grid;
        place-content: center;
        gap: 3rem;

        min-height: 50vh;

        padding: 6rem;

        &.tight {
            padding: 0;
        }

        &:not(:first-child) {
            border-top: 2px solid #333;
        }

        @media (width < 768px) {
            padding: 2rem;
            min-height: 80vh;

            &.tight {
                padding: 0;
            }
        }
    }

    /* Sections */

    #hero {
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 4rem);
        max-height: fit-content;

        background: linear-gradient(to right, var(--pastel-yellow) 45%, #fff);
    }

    #cfp {
        background: linear-gradient(to left, var(--pastel-cyan), #fff);
        color: #333;

        --card-bg: var(--halftone-cyan);
        --card-fg: #333;
        --card-border: #333;
    }

    #stats {
        .card {
            position: relative;

            &::before {
                position: absolute;
                z-index: -1;

                border-radius: inherit;

                content: '';
                inset: calc(var(--card-border-size) * -1);
                transform: translate(0, 0.75rem);

                background: linear-gradient(to right, var(--red-500), var(--core-yellow));
            }
        }
    }

    #past-editions {
        --gap: 3rem;
    }

    #sponsors {
        --gap: 2rem;
    }

    .card-gallery {
        width: 80vw;
        max-width: 100%;

        position: relative;

        border-radius: 1rem;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;

            width: 3rem;
            top: 0;
            bottom: 0;
            right: 0;

            background: linear-gradient(to left, #0004, #0000);
        }

        > * {
            overflow-x: auto;
        }
    }

    .image-gallery {
        display: grid;

        overflow-x: auto;

        > .image-gallery-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-auto-flow: dense;

            width: 1920px;
            max-height: 80vh;

            gap: 2px;
            /* gap: 1rem; */
            /* padding: 1rem; */

            img {
                grid-column: span var(--cols);
                grid-row: span var(--rows);

                width: 100%;
                height: 100%;
                object-fit: cover;

                /* border-radius: 1rem; */
                /* border: 2px solid #333; */
            }

            .card {
                margin: 1rem;
            }

            @media (width < 768px) {
                width: 500vw;
            }
        }
    }

    .hero-content {
        --gap: 3rem;

        padding: 0 6rem;
        z-index: 2;

        button,
        a[role='button'] {
            font-size: 1.5rem;
        }

        @media (width < 768px) {
            padding: 0 1rem;
            --gap: 1.5rem;
        }
    }

    .hero-image {
        max-width: 50vw;
        height: calc(100vh - 16rem);

        object-fit: cover;

        z-index: 1;

        @media (width < 768px) {
            position: absolute;

            right: 0;
            width: auto;
            max-width: unset;

            transform: translateX(50%);
            filter: invert(1) brightness(0.25) invert(1);
        }
    }

    .card {
        display: grid;
        place-content: center;
        place-items: center;

        padding: var(--size, 1rem);
        border-radius: var(--size, 1rem);
        border: var(--card-border-size, 2px) solid var(--card-border, #333);
        gap: var(--size, 1rem);

        color: var(--card-fg, #333);

        max-width: 85ch;

        background: var(--card-bg, #f0f0f0);

        &.tight {
            padding: 0;
            overflow: hidden;
            overflow: clip;
        }

        &.large {
            --size: 1.5rem;
            --card-border-size: 3px;

            @media (width < 768px) {
                --size: 1.5rem;
            }
        }
    }

    .stats-layouts {
        display: grid;

        gap: 3rem;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: dense;

        > .stats-card {
            padding: 3rem;

            max-width: 80ch;
            width: 100%;
            grid-column: span 1;
            grid-row: span 2;
        }

        @media (width < 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            > .stats-card {
                padding: 2rem;
                --size: 1.5rem;

                grid-column: span 2;
                grid-row: span 2;

                width: auto;
            }
        }
    }

    .sponsor-list {
        --gap: 2rem;
    }
}

/* Utilities */

@layer utilities {
    .text-center {
        text-align: center;
    }

    .text-emoji {
        font-size: 1.75rem;
        vertical-align: middle;
    }

    .text-large {
        font-size: 2.75rem;

        @media (width < 768px) {
            font-size: 2rem;
        }
    }

    .text-custom {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .v-stack {
        display: grid;
        gap: var(--gap, 0);
        align-content: start;
        justify-items: start;

        &.center {
            justify-items: center;
        }
    }

    .h-stack {
        display: grid;
        gap: var(--gap, 0);
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
    }

    .h-flex-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap, 0);
    }
}
