---
import Base from '@/layouts/Base.astro'
import { Content as FaqContent } from '@/assets/docs/faq.md'
---

<Base>
    <section>
        <div class="card large">
            <div class="text">
                <FaqContent />
            </div>
        </div>
    </section>
</Base>
