---
import Base from '@/layouts/Base.astro'
---

<Base>
    <section>
        <div class="card large">
            <div class="text">
                <h2>FAQs</h2>
                <h3>General</h3>
                <p>
                    We know that you could have some questions so we prepared for you a list of **FAQs** that may help you 💪
                </p>
                <p>
                    If you have any doubts left, please do not hesitate to [contact us](mailto:pisagdg+devfest@gmail.com).
                </p>
                    
                <h3>Do I need a ticket to join DevFest Pisa?</h3>
                
                <p>Yes, participation to the DevFest is **free**, but registration is **mandatory**. Being in the waiting list is not sufficient to participate to the conference.</p>
                <p>
                    Be excellent to each other. We want the event to be an excellent experience for everyone regardless
                    of gender identity and expression, sexual orientation, disabilities, neurodiversity, physical
                    appearance, body size, ethnicity, nationality, race, age, religion, or other protected category.
                    Treat everyone with respect. Participate while acknowledging that everyone deserves to be here --
                    and each of us has the right to enjoy our experience without fear of harassment, discrimination, or
                    condescension, whether blatant or via micro-aggressions. Jokes shouldn’t demean others. Consider
                    what you are saying and how it would feel if it were said to or about you.
                </p>
                <p>
                    Speak up if you see or hear something. Harassment is not tolerated, and you are empowered to
                    politely engage when you or others are disrespected. The person making you feel uncomfortable may
                    not be aware of what they are doing, and politely bringing their behavior to their attention is
                    encouraged. If a participant engages in harassing or uncomfortable behavior, the event organizers
                    may take any action they deem appropriate, including warning or expelling the offender from the
                    event with no refund. If you are being harassed or feel uncomfortable, notice that someone else is
                    being harassed, or have any other concerns, please contact a member of the event staff immediately.
                </p>
                <p>
                    Harassment is not tolerated. Harassment includes but is not limited to verbal language that
                    reinforces social structures of domination related to gender identity and expression, sexual
                    orientation, disabilities, neurodiversity, physical appearance, body size, ethnicity, nationality,
                    race, age, religion, or other protected categories; sexual imagery in public spaces; deliberate
                    intimidation; stalking; following; harassing photography or recording; sustained disruption of talks
                    or other events; offensive verbal language; inappropriate physical contact; and unwelcome sexual
                    attention. Participants asked to stop any harassing behavior are expected to comply immediately.
                </p>
                <p>
                    Practice saying "Yes" to each other. It’s a theatre improv technique to build on each other’s ideas.
                    We all benefit when we create together.
                </p>
                <h3>Scope</h3>
                <p>
                    This policy extends to talks, forums, workshops, code labs, social media, parties, hallway
                    conversations, all attendees, partners, sponsors, volunteers, event staff, etc. You catch our drift.
                    GDG Pisa DevFest 2025 reserves the right to refuse admittance to, or remove any person from, any GDG
                    Pisa DevFest 2025 hosted event (including future GDG Pisa DevFest events) at any time in its sole
                    discretion. This includes, but is not limited to, attendees behaving in a disorderly manner or
                    failing to comply with this policy and the terms and conditions herein. If a participant engages in
                    harassing or uncomfortable behavior, the event organizers may take any action they deem appropriate,
                    including warning or expelling the offender from the event with no refund.
                </p>
                <p>
                    Our event staff can usually be identified by special badges/attire. Our zero-tolerance policy means
                    that we will look into and review every allegation of violation of our Event Community Guidelines
                    and Anti-Harassment Policy and respond appropriately. Please note, while we take all concerns raised
                    seriously, we will use our discretion as to determining when and how to follow up on reported
                    incidents and may decline to take any further action and/or may direct the participant to other
                    resources for resolution.
                </p>
                <p>
                    Event staff will be happy to help participants contact hotel/venue security or local law
                    enforcement, provide escorts, or otherwise assist those experiencing discomfort or harassment to
                    feel safe for the duration of the event. We value your attendance.
                </p>
                <p>
                    Exhibiting partners, sponsors vendor booths, or similar activities are also subject to this policy.
                    In particular, exhibitors should not use sexualized images, activities, or other material. Booth
                    staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise
                    create a sexualized environment. Participants and exhibiting partners or sponsors disobeying this
                    policy will be notified and are expected to stop any offending behavior immediately.
                </p>
                <h3>Why this policy is important</h3>
                <p>
                    Harassment at events and in online communities is unfortunately common. Creating an official policy
                    aims to improve this by making it clear that harassment of anyone for any reason is not acceptable
                    within our events and communities. This policy may prevent harassment by clearly defining
                    expectations for behavior, aims to provide reassurance, and encourages people who have had bad
                    experiences at other events to participate in this one.
                </p>
                <h3>License and attribution</h3>
                <p>
                    This policy is licensed under the Creative Commons Zero license. This policy is based on and
                    influenced by several other community policies including Ohio LinuxFest Anti-Harassment policy, Con
                    Anti-Harassment Project, Geek Feminism Wiki (created by the Ada Initiative), ConfCodeofConduct.com,
                    JSconf, Rust, Diversity in Python, and Write/Speak/Code.
                </p>
                <h3>Report incident</h3>
                <p>
                    To report an incident look for a staff member by badge/attire or contact us directly at
                    pisagdg+coc@gmail.com.
                </p>
                <h3>Anonymous report</h3>
                <p>
                    You can make an anonymous report by scanning the QR below. We can't follow up with you directly, but
                    we will fully investigate it and take whatever action is necessary to prevent a recurrence.
                </p>
            </div>
            <a
                class="large"
                role="button"
                href="https://forms.gle/Wi6uF3dkkyKKpyiE6"
                target="_blank"
                rel="noopener noreferrer"
            >
                Submit an anonymous report
            </a>
        </div>
    </section>
</Base>
