---
import Base from '@/layouts/Base.astro'
---

<Base>
    <section>
        <h2>Prova</h2>
        <div class="card large">
            <div class="text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio error mollitia excepturi!
                    Reiciendis placeat tenetur enim quis ea at, esse ipsa obcaecati earum magnam impedit, qui cumque
                    ratione officiis!
                </p>
            </div>
        </div>
    </section>
</Base>
