---
import Base from '@/layouts/Base.astro'
---

<Base>
    <section>
        <h1>New Devfest Website</h1>
    </section>
    <script is:inline>
        if ('serviceWorker' in navigator) {
            console.log('Unregistering old service workers')
            navigator.serviceWorker.getRegistrations().then(registrations => {
                for (const registration of registrations) {
                    registration.unregister()
                }
            })
        }

        location.href = '/'
    </script>
</Base>
