---
import '@/styles/main.css'
import 'katex/dist/katex.css'

import Footer from '@/components/astro/Footer.astro'
import Header from '@/components/astro/Header.astro'

type Props = {
    title?: string
}

const { title = 'DevFest Pisa 2026' } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content="/favicon.svg" />
        <meta
            property="og:description"
            content={[
                `Together We Grow, Together We Build! 🌱`,
                `Unisciti alla DevFest Pisa, l’evento che riunisce la community tech per crescere e innovare insieme! 
                 Talk ispirazionali, workshop pratici e networking con esperti del settore. Perché solo insieme possiamo
                 costruire il futuro della tecnologia! 🚀`.replace(/\s+/g, ' '),
            ].join('\n')}
        />

        <!-- Address Bar Color -->
        <meta name="theme-color" content="#ffbb00" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#ffbb00" />

        <script defer src="https://cloud.umami.is/script.js" data-website-id="6a2d9e3e-6360-4797-b976-e15276cc1d42"
        ></script>

        <title>{title}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
