---
import Base from '@/layouts/Base.astro'
---

<Base>
    <section>
        <div class="card large">
            <div class="text">
                <slot />
            </div>
        </div>
    </section>
</Base>
